body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.principios {
    float: left;
}

.principios img {
    padding: 12px;
    display: inline-block;
    max-width: 30%;
    float: left;
}

.principios p {
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}




.pcont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:20px;
    float:left;
}

.pcont .pbox {
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color: white;
    transition: .3s all ease-in-out;
    position: relative;
    box-shadow: 2px 2px 6px background;

    
    /* Link */
}


.pcont .pbox .pboxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
}

.pcont .pbox .pboxContent .icon {
    color: #a4cc00;
    font-size: 36px;
    padding: 6px;
    float: left;
    align-content: center;
    text-align: center;

}

.pcont .pbox .pboxContent .title {
    font-size: 20px;
    color: #a4cc00;
    font-weight: bold;
    text-align: center;

}

.pcont .pbox .pboxContent .desc {
    color: #000;
    font-size: 14px;
    line-height: 12px;
    height: 20%;
    font-weight: 400;
    text-align: center;
}

.pcont .pbox a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.pcont .pbox:hover {
    background: linear-gradient(130deg, #a4cc00 0%, #a4cc00 100%);
    box-shadow: none;
}

.pcont .pbox:hover .icon,
.pcont .pbox:hover .title {
    color: white;
    transition: .3s all ease-in-out;
}

.pcont .pbox:hover .desc {
    color: black;
    transition: .3s all ease-in-out;
}




section.module.parallax {
    height: 420px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax-1 {
    background-image: url("https://producao.cenpec.org.br/wp-content/uploads/2019/04/q_parallax1.jpg");
}



section.module.parallax-2 {
    background-image: url("https://producao.cenpec.org.br/wp-content/uploads/2019/04/q_parallax2.jpg");
    padding: 60px 200px 0px 200px;
    margin-top: 80px;
    font-weight: 600;
}

section.module.parallax-2 h1 {
    color: #ffffff;
    padding-bottom: 20px;
}

section.module.parallax-2 img {
    box-shadow: 2px 2px 12px;
    margin-right: 20px;
    min-width: 300px;
    margin-top:-30px;
    display: inline-block;
}

section.module.parallax-2 p {
    text-align: right;
}




section.module.parallax-3 {
    background-image: url("https://producao.cenpec.org.br/wp-content/uploads/2019/04/q_parallax3.jpg");
    padding: 60px 200px 0px 200px;
    margin-top: 80px;
    font-weight: 600;
}

section.module.parallax-3 h1 {
    color: #ffffff;
    padding-bottom: 20px;
}

section.module.parallax-3 img {
    box-shadow: 2px 2px 12px #000;
    margin-right: 20px;
    min-width: 300px;
    margin-top:-30px;
    display: inline-block;
}

section.module.parallax-3 p {
    text-align: right;
}






.qpartcontainer {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 80px;

}









#qpart_box {
    background-image: url("../../imagens/q_map_card.png");
    background-size: 100%;
    width: 360px;
    height: 180px;
    background-repeat: no-repeat;
    padding: 10px;
    position: absolute;
    transform: translate(0%, 250px);
    box-shadow: 2px 2px 6px background;
    border-radius: 20px; 
}




.qpcontainer {
    max-width: 960px;
    margin: 0 auto;

}


#boxvideo {
    background-color: #a4cc00;
    color: white;
    /* top:30px; */
    /* left: -10px; */
    width: 600px;
    height: 460px;
    position: absolute;
    /* not relative anymore */
    /* z-index:5; It's already stacked above if positioned. Needed if other positioned elements are there (a value of 1 would be enough) */
    transform: translate(25%, -20px);
    /* replaces relative positioning (left and top => X and Y) */
}


#videoit {
    align-content: center;
    text-align: center;
    /* top:30px; */
    /* left: -10px; */
    width: 640px;
    height: 360px;
    position: absolute;
    /* not relative anymore */
    /* z-index:5; It's already stacked above if positioned. Needed if other positioned elements are there (a value of 1 would be enough) */
    transform: translate(-3%, 50px);
    /* replaces relative positioning (left and top => X and Y) */
}





.econtainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 6vh;
    perspective: 600px;
}

.econtainer .ebox {
    width: 180px;
    height: 240px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #a4cc00;
    transition: transform 0.6s;
    transform-style: preserve-3d;


}

.econtainer .ebox .eboxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.econtainer .ebox .eboxContent .eboxback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a4cc00;
    width: 180px;
    height: 100px;
    border-radius: 10px 10px 0 0;
}

.econtainer .ebox .eboxContent .eboxback .eboxpic {
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    border-color: #a4cc00;
    transform: translate(40px, 55px);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


.econtainer .ebox .eboxContent .title {
    font-size: 16px;
    color: #000;
    padding: 12px;
    text-align: center;
    margin-top: 50px;
}

.econtainer .ebox .eboxContent .title2 {
    font-size: 16px;
    color: #000;
    padding: 12px;
    text-align: center;
    margin-top: 0px;
}


.econtainer .ebox .eboxContent .desc {
    color: #000;
    font-size: 12px;
    line-height: 14px;
    padding: 12px;
}

.econtainer .ebox a {
    position: absolute;
    top: 0;
    left: 0;
}

.econtainer .ebox:hover {
    cursor: pointer;
}

.econtainer .ebox:hover .title {
    color: black;
    transition: .3s all ease-in-out;
}

.econtainer .ebox:hover .desc {
    color: black;
    transition: .3s all ease-in-out;
}



.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
}

h4{
font-size:1.5vw;
}





@media only screen and (max-width: 600px) {
h4{
font-size:4vw;
}
    
.qpcontainer {
    max-width: 100%;
    margin: 0 auto;

}


#boxvideo {
    
    color: white;
    /* top:30px; */
    /* left: -10px; */
    width: 75%;
    height: auto;
    position: absolute;
    /* not relative anymore */
    /* z-index:5; It's already stacked above if positioned. Needed if other positioned elements are there (a value of 1 would be enough) */
    transform: translate(-10%, -20px);
    /* replaces relative positioning (left and top => X and Y) */
}


#videoit {
    align-content: center;
    text-align: center;
    /* top:30px; */
    /* left: -10px; */
    height: 100%;
    width: 100%;
    position: relative;
    /* not relative anymore */
    /* z-index:5; It's already stacked above if positioned. Needed if other positioned elements are there (a value of 1 would be enough) */
    transform: translate(-10%, 50px);
    /* replaces relative positioning (left and top => X and Y) */
}
    
    .identidade img{
    max_width:75%;
    }
    
}
